*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

// @font-face {
//     font-family: 'ProjectnameType';
//     src: url('../fonts/ProjectnameTypeMedium.eot');
//     src: url('../fonts/ProjectnameTypeMedium.eot') format('embedded-opentype'),
//          url('../fonts/ProjectnameTypeMedium.woff2') format('woff2'),
//          url('../fonts/ProjectnameTypeMedium.woff') format('woff'),
//          url('../fonts/ProjectnameTypeMedium.ttf') format('truetype'),
//          url('../fonts/ProjectnameTypeMedium.svg#MazdaTypeMedium') format('svg');
//    	font-weight: ;
// }

@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/MyriadProLight.woff') format('woff'),
         url('../fonts/MyriadProLight.svg#MyriadProLight') format('svg');
    font-weight: 300;
    font-display: swap;
  }
  
  
  @font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/MyriadProRegular.woff') format('woff'),
         url('../fonts/MyriadProRegular.svg#MyriadProRegular') format('svg');
    font-weight: 400;
    font-display: swap;
  }
  
  
  @font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/MyriadProSemiBold.woff') format('woff'),
         url('../fonts/MyriadProSemiBold.svg#MyriadProSemiBold') format('svg');
    font-weight: 600;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/MyriadProBold.woff') format('woff'),
         url('../fonts/MyriadProBold.svg#MyriadProBold') format('svg');
    font-weight: 700;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Lato';
    src: url('../fonts/LatoThin.woff2') format('woff2'),
         url('../fonts/LatoThin.woff') format('woff'),
         url('../fonts/LatoThin.svg#LatoThin') format('svg');
    font-weight: 200;
    font-display: swap;          
  }
  
  
  @font-face {
    font-family: 'Lato';
    src: url('../fonts/LatoLight.woff2') format('woff2'),
         url('../fonts/LatoLight.woff') format('woff'),
         url('../fonts/LatoLight.svg#LatoLight') format('svg');
    font-weight: 300;
    font-display: swap;            
  }
  
  @font-face {
    font-family: 'Lato';
    src: url('../fonts/LatoRegular.woff2') format('woff2'),
         url('../fonts/LatoRegular.woff') format('woff'),
         url('../fonts/LatoRegular.svg#LatoRegular') format('svg');
    font-weight: 400;
    font-display: swap;            
  }
  
  
  @font-face {
    font-family: 'Lato';
    src: url('../fonts/LatoBold.woff2') format('woff2'),
         url('../fonts/LatoBold.woff') format('woff'),
         url('../fonts/LatoBold.svg#LatoBold') format('svg');
    font-weight: 700;
    font-display: swap;         
  }
  
  @font-face {
    font-family: 'Lato';
    src: url('../fonts/LatoBlack.woff2') format('woff2'),
         url('../fonts/LatoBlack.woff') format('woff'),
         url('../fonts/LatoBlack.svg#LatoBlack') format('svg');
    font-weight: 800;
    font-display: swap;
  }
  
  
  @font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/CenturyGothicBoldCenturyGothicBold.woff2') format('woff2'),
         url('../fonts/CenturyGothicBoldCenturyGothicBold.woff') format('woff'),
         url('../fonts/CenturyGothicBoldCenturyGothicBold.svg#CenturyGothicBoldCenturyGothicBold') format('svg');
    font-weight: 700;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/CenturyGothicCenturyGothicRegular.woff2') format('woff2'),
         url('../fonts/CenturyGothicCenturyGothicRegular.woff') format('woff'),
         url('../fonts/CenturyGothicCenturyGothicRegular.svg#CenturyGothicCenturyGothicRegular') format('svg');
    font-weight: 400;
    font-display: swap;         
  }

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?j8zvdh');
    src:  url('../fonts/icomoon.eot?j8zvdh#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?j8zvdh') format('truetype'),
      url('../fonts/icomoon.woff?j8zvdh') format('woff'),
      url('../fonts/icomoon.svg?j8zvdh#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  .icon-pps {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    top: -1px;
    vertical-align: middle;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-heart:before {
    content: "\e900";
  }
  .icon-internet:before {
    content: "\e901";
  }
  .icon-envelope:before {
    content: "\e902";
  }
  .icon-pin:before {
    content: "\e903";
  }
  .icon-chevron-bd-right:before {
    content: "\e904";
  }
  .icon-chevron-bd-left:before {
    content: "\e905";
  }
  .icon-comment:before {
    content: "\e906";
  }
  .icon-tiktok:before {
    content: "\e907";
  }
  .icon-instagram:before {
    content: "\e908";
  }
  .icon-chevron-down:before {
    content: "\e909";
  }
  .icon-chevron-left:before {
    content: "\e90a";
  }
  .icon-chevron-right:before {
    content: "\e90b";
  }
  .icon-check-light:before {
    content: "\e90c";
  }
  .icon-facebook-sq:before {
    content: "\e90d";
  }
  .icon-chevron-sm-right:before {
    content: "\e90e";
  }
  .icon-directory:before {
    content: "\e90f";
  }
  .icon-chevron-sm-left:before {
    content: "\e910";
  }
  .icon-chevron-sm-down:before {
    content: "\e911";
  }
  .icon-chevron-sm-up:before {
    content: "\e912";
  }
  .icon-dot:before {
    content: "\e913";
  }
  .icon-instagram-sq:before {
    content: "\e914";
  }
  .icon-instagram1:before {
    content: "\e915";
  }
  .icon-suki-card:before {
    content: "\e916";
  }
  .icon-left-arrow:before {
    content: "\e917";
  }
  .icon-right-arrow:before {
    content: "\e918";
  }
  .icon-mail:before {
    content: "\e919";
  }
  .icon-magsangla:before {
    content: "\e91a";
  }
  .icon-phone:before {
    content: "\e91b";
  }
  .icon-pin-dot:before {
    content: "\e91c";
  }
  .icon-magpadala:before {
    content: "\e91d";
  }
  .icon-tiktok-sq:before {
    content: "\e91e";
  }
  .icon-twitter-sq:before {
    content: "\e91f";
  }
  .icon-youtube-sq:before {
    content: "\e920";
  }
  .icon-search:before {
    content: "\e921";
  }
  .icon-download:before {
    content: "\e922";
  }
  .icon-twitter:before {
    content: "\e923";
  }
  .icon-youtube:before {
    content: "\e924";
  }
  .icon-gear:before {
    content: "\e925";
  }
  .icon-caret-right:before {
    content: "\e92c";
  }
  .icon-caret-left:before {
    content: "\e92d";
  }
  .icon-caret-up:before {
    content: "\e92e";
  }
  .icon-caret-down:before {
    content: "\e92f";
  }
  .icon-video:before {
    content: "\e930";
  }
  .icon-home:before {
    content: "\e937";
  }
  .icon-facebook-f:before {
    content: "\ea90";
  }
  .icon-close:before {
    content: "\e926";
  }
  .icon-message:before {
    content: "\e927";
  }
  
  
  

body {
    font-family: 'MyriadProRegular', sans-serif;
    font-size: 16px;
}
nav {
    background-color: #444;
    padding: 20px 15px;

    ul {
        list-style-type: none;
        display: flex;
        justify-content: center;

        li {
            display: block;
            margin-left: 20px;
            margin-right: 20px;
        }
        a {
            color: #fff;
            text-decoration: none;
        }
    }
}

.banner-sec {
    position: relative;
    background-color: #eee;
    min-height: 450px;

    figure {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 100%;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .banner-test {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        h1 {
            font-weight: bold;
            font-size: 50px;
        }
    }
}

iframe {
    width: 100%;
    height: 300px;
}
img {
    max-width: 100%;
    height: auto;
}
#targetDiv.active {
    background-color: red;
    height: 100px;
    width: 100px;
}

button:hover {
    background-color: red;
}

.container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.about {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.wrapper-box {
    display: flex;
    flex-wrap: wrap;

    .box {
        flex: 1;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
    }
    figure {
        margin-bottom: 20px;

        img {
            width: 100%;
        }
    }

}